<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://localhost:3000/css/teacher" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div id="teacher-page">
        <h2 id="text">
          Hi!, I'm your English teacher!, I'm here to help you. <br />
          Start asking me some question.
        </h2>
        <div class="chat"></div>
        <form id="teacher-form">
          <input name="message" type="text" placeholder="Type..." />
          <button id="button-submit" type="submit">SEND</button>
          <span id="loading" class="loader"></span>
        </form>
      </div>
    </main>
    <script src="http://localhost:3000/js/teacher"></script>
  </body>
</html>
